* {
    font-family: Inter;
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 30px;
}

#EditAndPDF {
    width:100%;
}

#Edit {
    display: inline-block; 
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}


#DescriptionContainer {
    position: absolute;
    top: 400px;
    width: 90%;
    height: inherit;
    background-color: #ed452e;
    border-radius:10px;
    padding: 10px;
    left: 80px;
    display:none;
}

#GOLDDesc, #SILVERDesc, #BRONZEDesc{
    display:none;
}

#companyName,
#companyPostcode,
#companyType,
#numEmployees{
    height: 50px;
    width: 500px;
    font-size: 18px;
    border-color: #ed452e;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px;
    display: block;
    margin: 0 auto;
}


#CalculateQuote {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 20px;
}

#QuoteResults {
    display: none;
    padding-top: 200px;
    text-align: center;
}

#GOLD, #SILVER, #BRONZE {
    display: inline-block;
    padding: 10px;
    height: 350px;
    border-radius:10px;
    width: 300px;
    font-size: 18px;
    cursor: pointer;
}

.ServiceHead{
    font-family: Caveat;
    font-size:50px;
}

#BRONZE {
    margin-left: 0;
}

#SILVER {
    margin-left: 8%;
}

#GOLD {
    margin-left: 8%;
}

#GOLD:hover {
    background: #FFD700;
    color: black;
    box-shadow: 10px 5px 10px gray;
}
#SILVER:hover{
    background: silver;
    color: black;
    box-shadow: 10px 5px 10px gray;
}
#BRONZE:hover {
    background: #CD7F32;
    color: white;
    box-shadow: 10px 5px 10px gray;
}

#ExtraHelp {
    font-weight: bold;
    padding-top: 50px;
}

#ConfirmationPage {
    padding: 20px;
    text-align: center;
    display: none;
}

#EXIT {
    display: none;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 20px;
}

#AltQuoteResults {
    display: none;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
#RestrictedPostcode {
    display: none;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
#RestrictedIndustry {
    display: none;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
#InvalidPostcode {
    display: none;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.button-27 {
    appearance: none;
    background-color: #2d2d2e;
    border: 2px solid #1A1A1A;
    border-radius: 13px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    will-change: transform;
}

    .button-27:disabled {
        pointer-events: none;
    }

    .button-27:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    .button-27:active {
        box-shadow: none;
        transform: translateY(0);
    }

.summary-heading {
    font-family: Caveat;
    font-size: 50px;
    margin-bottom: 2px;
    color: #ed452e;
}

.logo-image {
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 20px;
    width: 30%;
    height: 30%;
    background-color: #ed452e;
    height: auto;
}

.quote-calculator {
    font-family: Caveat;
    font-size: 45px;
    color: #ed452e;
}

.wire-1 {
    position: absolute;
    top: -10%;
    left: 70%;
    width: 40%;
    z-index: -4;
}

.summ-head{
    font-family: Inter;
    color: black;
    font-size:30px;
}